---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostPreview from '../components/PostPreviewCard.astro';
import DownloadButton from "../components/DownloadButton.astro";
import AudioPlayer from "../components/AudioPlayer.astro";

const { content } = Astro.props;
---

<BaseLayout pageTitle={content.title}>
  <div class="block p-6">
    <div class="flex flex-row justify-between">
      <div class="flex">
        <h1 class="text-xl font-extrabold">{content.title}</h1>
      </div>
      <div class="flex gap-1">
        {content?.categories.map((category) => (  
          <a href={`../category/${category}/1`}><div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{category}</div></a>
        ))}
      </div>
    </div>
    <p class="mb-4">
      {content.description}
    </p>
    <div class="justify-start space-x-2">
      <AudioPlayer src={content.src} />
    </div>
    <div class="justify-start space-x-2 mt-6">
      <DownloadButton src={content.src} />
    </div>
    <div class="divider"></div>
    <slot />
  </div>
</BaseLayout>
